POSTGRES_USER=myuser
POSTGRES_PASSWORD=
POSTGRES_DB=arpatentdb
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
MEDIA_ROOT=/app/media
MEDIA_VOLUME_NAME=arpatent_media_data
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=http://localhost:5173
DEBUG=false
